/* Include padding and borders within width and height of all elements */
* {
    box-sizing: border-box;
}

/* Prepare the body style */
body {
    max-width: 100%;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
	font-family: 'Montserrat', Verdana, sans-serif;
    color: #78624c;
}

/* Remove bullet point markers of lists */
li {
    list-style-type: none;
}

/* Style all links with Anchor Pseudo-classes */
a:link {
    text-decoration: none;
    color: #154242;
    font-weight: bold;
}
a:hover {
    opacity: 0.5;
    text-decoration: underline;
}
a:visited {
	color: initial;
}

    /* Style the top navigation menu bar */
    .topnav {
        width: 100%;
        display: block;
        float: none;
        position: relative;
    }
        .tophome {
            display: block;
            float: left;
            width: 85%;
        }
            .tophome img {
                display: block;
                float: left;
                max-width: 100%;
                height: auto;
            }

        /* Style the burger menu button */
        .topnav img#menubutton {
            display: block;
            float: right;
            max-width: 15%;
            width: 15%;
            height: auto;

            /* vertically align burger menu image to the center */
            position: absolute;
            transform: translate(565%, 50%);
        }

        /* Initially hide menu bar until user clicks the burger menu button */
        .menu {
            display: none;
        }

        /* Display menu when user clicks the burger menu button */
        .showmenu {
            display: block;
            float: left;
            width: 100%;
            border-top: 2px solid #154242;
        }

        /* Change default spacing with menu unordered list */
        .menu {
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
        }
            /* Style spacing above and below lists */
            .topnav ul li, .footerlinks li {
                padding-top: 20px;
                padding-bottom: 20px;
            }

/* Clearfix after header element */
header::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the main body border */
main {
    border-bottom: 2px solid #154242;
}

    /* Style all level one headings */
    h1 {
        text-align: center;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        border-top: 2px solid #154242;
    }

/* Style spacing above and below footer */
footer {
    padding-top: 5em;
    padding-bottom: 5em;
}

    /* Style footer sections */
    .contactinfo {
        margin-bottom: 3em;
        margin-bottom: 0;
        padding-bottom: 2em;
    }
        /* Style the phone icon */
        .contactinfo img {
            vertical-align: middle;
            height: 2em;
            width: auto;
        }
    
    /* Style the rest of the footer sections */
    .openinghours {
        margin-bottom: 3em;
        padding-bottom: 5em;
        border-bottom: 2px solid #154242;
    }

    .footerlinks {
        padding-bottom: 2em;
        padding-top: 2em;
    }
        /* Remove default spacing within unordered lists (ul) and style content/links */
        .footerlinks ul {
            margin: 0;
            padding: 0;
            text-align: center;
        }

    .socials {
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
    }
        /* Space out the footer social media icons */
        .socials a {
            display: block;
            float: left;
            width: 25%;
        }
            /* Style the footer social media icons */
            .socials a img {
                max-width: 3.5em;
                height: 3.5em;
                width: 3.5em;
            }

    /* Style the footer copyright info */
    .copyright {
        margin-top: 9.5em;
        text-align: center;
    }

/* For desktop screens */
@media only screen and (min-width: 768px)  {

    /* Style the header for landscape view */
    header {
        height: 150px;
        position: relative;
    }
        .topnav {
            display: block;
            float: left;
            width: 100%;

            /* vertically align to the center */
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
        }            
            .tophome {
                display: block;
                float: left;
                width: 40%;

                /* vertically align to the center */
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }                
                .tophome img {
                    max-height: 150px;
                    height: 150px;
                    width: auto;
                }

            /* Remove the burger menu used for responsive views */
            .topnav img#menubutton {
                display: none;
            }

            /* Restyle the top menu navigation */
            .menu {
                display: block;
                float: right;
                width: 60%;

                /* vertically align to the center */
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);

                /* horisontally align to center */
                left: 40%;
            }
                .topnav ul li {
                    display: block;
                    float: left;
                    padding-right: 20px;
                    padding-left: 20px;
                }

    /* Style the footer for landscape view */
    footer {
        display: flex; /* use flex to rearrange footer columns */
        flex-flow: row wrap;
        align-content: space-evenly;
        padding-bottom: 0;
    }
        /* Make footer sections float next to each other */
        .footerlinks, .contactinfo, .openinghours {
            float: left;
            width: 25%;
            padding-bottom: 0;
        }
        /* Restyle the links in the footer */
        .footerlinks {
            order: 1;
            padding-top: 0;
            text-align: left;
            padding-top: 1.35em;
        }
            .footerlinks ul {
                text-align: left;
            }
                .footerlinks li {
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 1.5em;
                }
                .footerlinks li:last-child {
                    padding-bottom: 0;
                }

        /* Reorder the contact info section */
        .contactinfo {
            order: 2;
        }

        /* Restyle the opening hours section */
        .openinghours {
            order: 3;
            margin-bottom: 0;
            border: none;
        }

        /* Restyle the social images container */
        .socials {
            order: 4;
            display: inline-flex;
            float: left;
            width: 25%;
            gap: 0.5em;
            text-align: right;
            padding-top: 0;
            padding-bottom: 0;
        }
            .socials a img {
                max-width: 100%;
                height: auto;
                margin-top: 50%;
                padding-top: 0;
                margin-bottom: 50%;
            }

        /* Restyle the copyright section */
        .copyright {
            order: 5;
            display: block;
            float: left;
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5em;
            padding-bottom: 5em;
        }    
}